<html>
	<head>
		<title>
			ISSUES
		</title>
	</head>
	<body>
		<div class="event_item">
			<div class="title">
				{{issue.title}}
			</div>
			<div class="description">
				{{issue.description}}
			</div>
			<div class="images">
                               {% if issue.image %}
				<img src="{{issue.image.url}}"></img>
                               {% endif %}
			</div>
			<div class="upvote">
				{{issue.upvote}}
			</div>
			<div class="downvote">
				{{issue.downvote}}
			</div>
			<div class="submitter">
				{{issue.user.username}}
			</div>
                        <div class="vote">
                        	<a href="/issues/upvote/{{issue.id}}">Vote Up</a>
                        	<a href="/issues/downvote/{{issue.id}}">Vote Down</a>
         
                        </div>
		</div>

	</body>
</html>
