<html>
	<head>
		<title>
			ISSUES
		</title>
	</head>
	<body>
               <div id='player_info'>
               {{player.player.username}}  xp: {{player.experience}} ap: {{player.action}}
               </div>
                <br/>
		<form method="POST" action="/issues/submit/" enctype="multipart/form-data">{%csrf_token%}
                        <br/><label for="title" id="label_title">Title: </label>
			<input type="text" name="title" id="title"></input>
                        <br/><label for="img" id="label_img">Image: </label>
			<input type="file" name="img" id="img"></input>
                        <br/><label for="description" id="label_description">Description :</label>
			<input type="text" name="description" id="description"></input>
			<br/><label for="location" id="label_location">Location: </label>
			<input type="text" name="location" id="location"></input>
			<br/><input type="submit"></input>
		</form>
	</body>
</html>
