<html>
	<head>
		<title>
			ISSUES
		</title>
	</head>
	<body>
		<div id='player_info'>
               {{player.player.username}}  xp: {{player.experience}} ap: {{player.action}}
               </div>
                <br/>
   		{% for i in issues %}
			<div class="event_item">
				<div class="title">
					<a href="/issues/view/{{i.id}}">{{i.title}}</a>
				</div>
				<div class="description">
					{{i.description}}
				</div>
				<div class="images">
                                       {% if i.image %}
					<img src="{{i.image.url}}"></img>
                                       {% endif %}
				</div>
				<div class="upvote">
					{{i.upvote}}
				</div>
				<div class="downvote">
					{{i.downvote}}
				</div>
				<div class="submitter">
					{{i.user.username}}
				</div>
			</div>
                        <br/>
                {% endfor %}
	</body>
</html>
